.orders {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.orders h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
    text-transform: uppercase;
}

.order-card {
    border: 1px solid #ddd;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: #f9f9f9;
    width: 60%;
    align-items: center;
    margin-left: 200px;
}

.order-card:hover {
    transform: translateY(-5px);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.order-header h3 {
    margin: 0;
    font-size: 1.5em;
    color: #555;
}

.order-header p {
    margin: 0;
    font-size: 1em;
    color: #888;
}

.order-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.order-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
}

.order-item-image img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}

.order-item-details {
    margin-left: 10px;
    flex: 1;
}

.order-item-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #333;
}

.order-item-details p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

.order-total {
    text-align: right;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
}

.order-total h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}
