.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(73, 64, 63);
    color: #000;
    height: 300px;
    position: sticky;
    bottom: 0;
}
.footer img{
    width: 100%; 
}

.footer h4 {
    font-size: 20px;
    margin-right: 50px;
}
.footer ul {
    list-style: none;
    margin-right: 30px;
}

.footer ul li {
    text-align: left;
    margin-right: 50px;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 3px;

}
.footer ul  img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
}
.instagram{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}
.instagram li{
    font-size: 40px;
    text-align: left;
    align-items: center;
}

.useful-link{
    margin-right: 20px;
}