.product {
    border: 2px solid #f38f8f;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 370px;
}

.product img {
    max-width: 200px;
    height: 200px;
    border-radius: 7px;
}

.product h3 {
    margin-top: 20px;
    font-size: 18px;
}

.product p {
    font-size: 20px;
    color: #111010;
}
.product-buttons button {
    margin: 5px;
    padding: 9px 9px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    border: 1px solid #111010;
    
}

.product-buttons button:first-child {
    background-color: #28a745;
    color: #fff;
    margin-left: -1px;
   
}

.product-buttons button:last-child {
    background-color: #f6f8fa;
    color: #030303;
    border: 1px solid #111010;
    margin-right: 20px;
}

.product-detail img {
    width: 500px;
    height: 500px;
}
.product-buttons{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.main-content img{
    width: 30px;
    height: 30px;
    
}