.product {
    border: 2px solid #f38f8f;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 370px;
    transform: scale(1.2rem);
}
.product:hover{
    transform: scale(1.1); 
}
.product img {
    max-width: 200px;
    height: 200px;
    border-radius: 7px;
}

.product h3 {
    margin-top: 20px;
    font-size: 18px;
}

.product p {
    font-size: 16px;
    color: #111010;
}
.product-buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-buttons button:first-child {
    background-color: #28a745;
    color: #fff;
}

.product-buttons button:last-child {
    background-color: #007bff;
    color: #fff;
}

.product-detail img {
    width: 500px;
    height: 500px;
}